[user]
	email = paolo.haider@gmail.com
	name = Paul Haider
[core]
	excludesfile = ~/.gitignore_global
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
